.ant-layout-header {
  .ant-menu {
    line-height: @layout-header-height;
  }

  .anticon-bars {
    color: @white;
    font-size: @layout-header-height / 2;
    line-height: @layout-header-height;
  }
}
