.mobile-menu {
  width: 100%;
  top: 0 !important;
  padding-top: 0;

  .ant-popover-content {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      height: 100vh;
      border-radius: 0;

      .ant-popover-inner-content {
        display: flex;
        flex-direction: column;

        .anticon-close {
          font-size: @layout-header-height / 2;
          line-height: @layout-header-height;
          align-self: flex-end;
        }

        .ant-menu-inline {
          border-right: 0;

          .ant-menu-item {
            line-height: 72px;
            height: 72px;
          }
        }
      }
    }
  }
}
