{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    sourceType: "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "class-methods-use-this": 0,
    "comma-dangle": 0,
    "func-names": 0,
    "indent": [2, 4, { "SwitchCase": 1 }],
    "max-len": 0,
    "new-cap": 0,
    "no-use-before-define": [2, "nofunc"],
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 0,
    "babel/object-shorthand": 1,
    "babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "jsx-a11y/anchor-has-content": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0
  },
  "plugins": [
    "babel",
    "react"
  ]
}
