#loader-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999;
    background-color: rgba(33, 36, 41, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
